body {
	background: #000000 url(../img/landing/landing_bg.png) no-repeat top center;
	min-height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#info {
    text-align: center;;
    position: absolute;
    bottom: 0;
    display: block;
    color: white;
    font-size: 20pt;
    left: 0;
    right: 0;
}
#hash {
    color: #F7D358;
    font-weight: bold;
}
#logo img{
	position: relative;;
}
