body {
    background: transparent;
    display: table-cell;
    vertical-align: middle;
}
html {
    background: url(../img/landing/landing_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
   margin: auto;
}
html, body {
    height: 100%;
}

#items {
		text-align: center;
}

#items h1 {
    color: #FFFFFF;
    font-size: 15pt;
}

#hash {
    color: #F7D358;
    font-weight: bold;
    font-size: 20pt;
}
#date {
    color: #FFFFFF;
    font-size: 20pt;
}
